.categories{
  height: 40px;
  margin-top: 24px;
  background: #FFFFFF;
  display: flex;
  // align-items: center;
  ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 92px;

    .title_sort_active{
      display: flex;
      align-items: center;
      p{
        margin-right:3px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #2C2D2E;
        opacity: 1;
      }
      div{
        height: 10px;
        width: 8px;
        display: flex;
        flex-wrap: wrap;

        .arrow_up{
          color: black;
        }
        img{
          margin-top: 1.5px;
        }
      }
      .arrow_down{
        opacity: 0.6;
      }
      
      .arrow_down_active{
        opacity: 1;
      }
      .arrow_up_active{
        opacity: 1;
      }
      .arrow_up{
        opacity: 0.6;
      }
    }
    }

    .title_sort{
      display: flex;
      align-items: center;
      opacity: 0.6;

      p{
        margin-right:3px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #2C2D2E;

      }
      div{
        height: 10px;
        width: 8px;
        display: flex;
        flex-wrap: wrap;

        .arrow_up{
          color: black;
        }
        img{
          margin-top: 1.5px;
        }
      }
    }

    .passive_li{
      font-family: 'Jost';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: #2C2D2E;
      opacity: 0.6;
    }
  }

