@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Roboto&display=swap');

.goods_single_item{
  height: 80px;
  margin-top: 8px;
  background: #FFFFFF;
  display: flex;
  ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    align-items: center;
    // justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;

    .item_title{
      font-family: 'Jost';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #2C2D2E;
      width: 251px;
    }
    .item_category{
      width: 180px;
    }

    .item_date{
      width: 225px;
    }

    .item_publicated{
      width: 115px;
    }

    li{
      font-family: 'Jost';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #2C2D2E;

      button{
        // display: none;
        border: 0px;
        background-color: white;
        width: 0px;
      }
    }

    .popup{
      height: 24px;
      width: 24px;
      position: relative;
      background-image: url('../../../../assets/images/goods_popup.svg');
      &:hover{
        background-color: rgba(44, 45, 46, 0.04);
      }

      &__menu{
        display: flex;
        position: absolute;
        width: 242px;
        height: 136px;
        left: -216px;
        bottom: -135px;
        box-sizing: border-box;
        
        .check_button{
          display: flex;
          text-decoration: none;
          width: 100%;
          height: calc(136/3);
        }

        ul{
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          padding: 0;

          li{
            width: 100%;
            height: calc(100%/3);
            display: flex;
            align-items: center;
            border: 1px solid rgba(44, 45, 46, 0.08);
            background-color: white;
            z-index: 7;
            img{
              margin-left: 24px;
              margin-right: 12px;
              opacity: 0.4;
            }
            p{
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              color: #2C2D2E;
            }
            &:hover{
              background: rgb(240, 239, 239);
              img{
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}


